<div class="sidebar">
  <img src="images/dielawn.JPG" alt="My Photo.">
  <p style="font-size: 32px;"><strong>Dylan McKellips</strong></p>
  <p> <i>University of Utah</i> </p>
  <p>Salt Lake City, Utah, US, Earth, the Solar System, Milky Way, Local Group, Virgo Supercluster, TEST etc.</p>
  <p><a href="https://www.linkedin.com/in/dylan-mckellips-82b57b220/" target="_blank" rel="noopener noreferrer" >LinkedIn</a></p>
  <p> <a href="https://scholar.google.com/citations?hl=en&user=TfZgZ9YAAAAJ&view_op=list_works&gmla=AH8HC4xp9VgBs2m9wPK3A4r32lm0CtaBu1kJpsCLbvj1cKtBCTjtO3abRBnhCT5QcX4P54yjIgGm1eDWBqahcw9p" target="_blank" rel="noopener noreferrer" >Google Scholar</a> </p>
  <p><a href="mailto:dylan.mckellips@utah.edu">Email</a></p>
</div>
